.filters {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.filter-item {
	transition: all 0.2s ease-in;
	cursor: pointer;
	color: #2f16ec;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}

.selected {
	font-weight: 600;
	color: #a4f1b3;
	background-color: #2f16ec;
}
